/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Player Container */
.player-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    text-align: center;
}

/* Título con Imagen */
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title-container h1 {
    font-size: 1.8rem;
    color: #cf6502;
    margin-right: 15px;
}

/* Imagen flotante */
.floating-image {
    width: 50px;
    height: 50px;
    animation: float 3s ease-in-out infinite;
}

/* Animación de flotación */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Cover Image Styling */
.cover-container {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* Song Title */
h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

/* Audio Player */
audio {
    width: 100%;
    margin-bottom: 20px;
}

/* Shuffle Button */
button {
    background-color: #cf6502;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #cf6502;
    transform: translateY(-3px);
}

button:active {
    transform: translateY(0);
}
